@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body { 
   background-color: #FFFFFF; 
   text-align: center; 
   padding: 80px; 
 } 
 
 .poster { 
   background-color: #032854; 
   border-radius: 12px; 
   padding: 40px; 
   width: 500px; 
   margin: 0 auto; 
   box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
 } 
 
 .poster h1 { 
   font-family: "Mouse Memoirs", sans-serif; 
   color: #FFFFFF; 
   font-size: 36px; 
   font-weight: 500; 
   margin-bottom: 10px; 
 } 
 
 .poster p { 
   color: #FFFFFF; 
   font-size: 20px; 
   font-style: italic; 
 }

 .mouse-memoirs-regular { 
   font-family: "Mouse Memoirs", sans-serif; 
   font-weight: 400; 
   font-style: normal; 
 }