.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #4337de;
  color: white;
}

.navbar__logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar__links {
  display: flex;
  gap: 25px;
}

.navbar__links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar__links a:hover {
  text-decoration: underline;
}